<%- include("header") -%>
<h2>This is the about page</h2>

<p>Lorem ipsum, dolor sit amet consectetur adipisicing eli
    t. Illum, dolore pariatur minus vitae, sunt dolorem esse
    enim autem quibusdam nisi beatae consequuntur comm
    odi, voluptatibus fuga dolorum! Esse non sed animi.</p>
<%- include("footer") -%>